/*Mise en forme esthétique des messages d'erreur et validation*/
#texterreur{
	font-family: 'Ranga',sans-serif;
	text-align: center;
	font-size: 25px;

}

.lienclique 
{
	text-decoration: none;
}

.lienclique:hover 
{
	color: firebrick;
}

article 
{
	margin:auto;
	background-color: white;
    box-shadow: -7px -2px 17px 3px black;
    padding: 45px;
    margin-top: 255px;
    margin-bottom: 150px;
    z-index: 550;
}

@media all and (max-width: 1000px)
{
	article
	{
		margin-top: 55px;
	}
}