/*Mise en forme esthétique des pages de formulaire du site*/
article 
{
	margin: auto;
	background-color: white;
    box-shadow: -7px -2px 17px 3px black;
    padding: 45px;
    margin-top: 35px;
    margin-bottom: 25px;
}


.sectionflex 
{
	display: flex;
	justify-content: center;
	flex-direction: column;
	z-index: 255;
	

}

form h2 {
	font-family: 'Lobster', sans-serif;
	text-align: center;
}

p {
	font-family: 'Exo', sans-serif;
}


textarea {
	height:150px;
	width:250px;
}

#validform {
   background-color: #E83A3A;
   font-family: 'yellowtail',cursive;
   border-radius: 7px;
   color: rgb(241, 165, 23);
   width: 75px;
   height: 50px;
   font-size: 20px;

}

#validform:hover{
	background-color:#E396C2;
	color: rgb(129, 241, 114);

}

#nontransparence 
{
	text-align: center;
	vertical-align: center;
	font-family: 'Ranga', cursive;
	font-size: 25px;
}

#formatformnews
{
	margin-bottom: 80px;
}